Data/
assignment_2/salt-med5.jpg
assignment_2/salt-med3.jpg
assignment_2/salt-box7.jpg
assignment_2/gauss-med7.jpg
assignment_2/gauss-med5.jpg
assignment_2/gauss-med3.jpg
assignment_2/gauss-box7.jpg
assignment_2/gauss-box5.jpg
assignment_2/gauss-box3.jpg
assignment_2/gauss-37.jpg
assignment_2/gauss-35.jpg
assignment_2/gauss-33.jpg
assignment_2/gauss-27.jpg
assignment_2/gauss-25.jpg
assignment_2/gauss-17.jpg
assignment_2/salt-med7.jpg
assignment_2/salt-box5.jpg
assignment_2/salt-box3.jpg
assignment_2/gauss-15.jpg
assignment_2/gauss-13.jpg
assignment_3/synth-lucas-kanade.jpg
assignment_3/sphere-lucas-kanade.jpg
